[package]
name = "rofi-games"
authors = ["Rolv Apneseth"]
description = "A rofi plugin which adds a mode to list available games for launch along with their box art"
version = "1.10.6"
edition = "2021"
license-file = "LICENSE"

[dependencies]
tracing = "0.1.40"
rofi-mode = "0.4.0"
lib_game_detector = { version = "0.0.12" }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
toml = "0.8.13"
dirs = "5.0.1"
serde = { version = "1.0.202", features = ["derive"] }
shlex = "1.3.0"

[dev-dependencies]
test-case = "3.3.1"

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"

[lib]
crate-type = ["cdylib"]
