[package]
name = "rofi-games"
authors = ["Rolv Apneseth"]
description = "A rofi plugin which adds a mode to list available games for launch along with their box art"
version = "1.6.1"
edition = "2021"
license-file = "LICENSE"

[dependencies]
tracing = "0.1.40"
rofi-mode = "0.3.0"
lib_game_detector = "0.0.3"
tracing-subscriber = { version = "0.3.17", features = [ "env-filter" ] }

[profile.release]
strip = true

[lib]
crate-type = ["cdylib"]
